body {
    background-image: url(../static/imgs/DJI_0035.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    background-color: aliceblue;
}

.block1{
    border: solid black 4px;
}